
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<div class="single-hero-slide d-flex align-items-center justify-content-center">
    <!-- Slide Img -->
    <div class="slide-img bg-img" style="background-image: url(../../img/bg-img/bg-2.jpg);"></div>
    <!-- Slide Content -->
    <h6>Hoşgeldin</h6>
    <h2>Admin</h2>
</div>