@model List<AlbumGenreVM>

@foreach (AlbumGenreVM item in Model)
{
    <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item s e q">
        <div class="single-album">
            <img src="@item.ArtUrl" alt="">
            
            <div class="album-info">
                <a asp-controller="Album" asp-action="Details" asp-route-id="@item.AlbumID">
                    <h5>@item.Title</h5>
                </a>
                <p>@item.GenreName</p>
            </div>
        </div>
    </div>
}
