
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>Albüm Güncelleme Sayfası</p>
        <h2>Albums Update Page</h2>
    </div>
</section>

<div class="login-content">
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="genre">Tür Seçiniz</label>
            <div class="col-sm-10">
                <select class="form-control" id="genre">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="artist">Artist</label>
            <div class="col-sm-10">
                <select class="form-control" id="artist">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">Album Adı</label>
            <div class="col-sm-10">
                <input type="text" id="title" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="artUrl">Album Resmi</label>
            <div class="col-sm-10">
                <input type="text" id="artUrl" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="price">Fiyat</label>
            <div class="col-sm-10">
                <input type="number" id="price" class="form-control" placeholder="0,00₺" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="stock">Stok</label>
            <div class="col-sm-10">
                <input type="number" id="stock" class="form-control" placeholder="0" />
            </div>
        </div>
    </form>
    <a class="btn oneMusic-btn mt-30" id="btnAlbumUpdate">Güncelle</a>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:53177/api/Genre",
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#genre").append("<option value='" + value.genreID + "'>" + value.name + "</option>")
                    })
                }
            })

            $.ajax({
                type: "GET",
                url: "http://localhost:53177/api/Artist/GetForSelect",
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#artist").append("<option value='" + value.artistID + "'>" + value.fullName + "</option>")
                    })
                }
            })

            var aid =@ViewContext.RouteData.Values["id"]
                $.ajax({
                    type: "GET",
                    url: "http://localhost:53177/api/Album/GetAlbumByIdForAdmin/" + aid,
                    success: function (data) {
                        $("#title").val(data.title)
                        $("#artUrl").val(data.artUrl)
                        $("#price").val(data.price)
                        $("#stock").val( data.stock)
                        $("#artist").val( data.artistID)
                        $("#genre").val( data.genreID)
                    }
                })
            $("#btnAlbumUpdate").click(function () {
                var album = {
                    ID: @ViewContext.RouteData.Values["id"],
                    Title: $("#title").val(),
                    ArtUrl: $("#artUrl").val(),
                    Price: parseFloat($("#price").val()),
                    Stock: parseInt($("#stock").val()),
                    ArtistID: parseInt($("#artist").val()),
                    GenreID: parseInt($("#genre").val())
                }


                console.log(album)
                $.ajax({
                    url: "http://localhost:53177/api/Album/UpdateForAdmin",
                    type: "POST",
                    data: JSON.stringify(album),
                    contentType: "application/json; charset=UTF-8",
                    success: function () {
                        alert("Albüm güncellendi.")
                        $(location).attr('href', '/admin/album/Index')
                    }
                }).fail(function () {
                    alert("Albüm güncellenemedi. Lütfen bilgileri kontrol ediniz.")
                    
                })
            })
        })

    </script>
}